/* font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Box sizing rules */

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --bright-blue: #3A79FF;
  --blue: #5E81FE;
  --grey: #8D96BD;
  --white: #fff;
  --dark-grey: #697CA6;
  --san-marino: #3D4F9F;
}

/* Remove default padding */

ul, ol {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Remove default margin */

body, h1, h2, h3, h4, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img:not([alt]) {
  outline: 2px solid red;
}

/* Inherit fonts for inputs and buttons */

input, button, textarea, select {
  font: inherit;
}

input, select, textarea {
  width: 100%;
  max-width: 100%;
  color: inherit;
}

input[type="checkbox"], input[type="radio"] {
  width: auto;
}

fieldset, legend {
  margin: 0;
  border: 0;
  padding: 0;
}

/* Remove all animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
}

@media print {
  a[href^="http://"]::after, a[href^="https://"]::after {
    content: " (" attr(href) ")";
  }
}

/* Common styles */

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1206px;
  margin: 0 auto;
  width: 96%;
}

.ff-quicksand {
  font-family: 'Quicksand', sans-serif;
}

.ff-roboto {
  font-family: 'Roboto', sans-serif;
}

.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.fw-400 {
  font-weight: 400;
}

.p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: var(--grey);
}

/* Header styles */

.header {
  padding: 18px 0;
  background-color: var(--white);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__start, .header__end {
  display: flex;
  align-items: center;
}

.header__start {
  margin-right: 16px;
}

.logo {
  width: 26px;
  height: 26px;
  background-color: var(--blue);
  border-radius: 50%;
  margin-right: 73px;
}

.header__socials {
  margin-right: 44px;
}

/* Navigation styles */

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 42px;
}

.nav__link {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  color: var(--dark-grey);
}

.nav__link:hover, .nav__link:active {
  color: var(--blue);
}

.nav__link:focus {
  outline-color: var(--bright-blue);
}

/* Socials styles */

.socials {
  display: flex;
}

.socials__item:not(:last-child) {
  margin-right: 36px;
}

.socials__link:focus {
  outline-color: var(--bright-blue);
}

.socials__icon {
  fill: #B6BAC7;
}

.socials__link:hover .socials__icon {
  fill: #6188FF;
}

/* Button styles */

.button {
  background-color: #D2E1FF;
  max-width: 200px;
  min-width: 90px;
  border-radius: 2px;
  border: none;
  padding: 13px 15px;
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  color: var(--bright-blue);
  text-decoration: none;
}

.button:hover {
  background-color: #BFD4FF;
}

.button:active {
  background-color: #BFD4FF;
  border-color: var(--bright-blue);
}

.button:focus {
  outline-color: var(--bright-blue);
}

.button--secondary {
  background-color: #FFD7D7;
  color: #D43F3F;
}

.button--secondary:hover {
  background-color: #fac1c1;
}

.button--text {
  background-color: transparent;
  border: none;
  color: #A6B6DA;
}

.button--text:hover {
  background-color: #edf4fc;
}

/* Hero styles */

.hero {
  background-color: #F4F7FF;
  background-image: url(/images/hero/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 570px;
  padding: 120px 0;
  text-align: center;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero {
    background-image: url(/images/hero/hero@2x.jpg);
  }
}

.title {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  font-family: 'Roboto', sans-serif;
  color: var(--san-marino);
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.title--start {
  text-align: left;
}

.hero__heading {
  font-size: 48px;
  font-weight: 300;
  color: var(--san-marino);
  margin-bottom: 28px;
}

.hero__text {
  letter-spacing: 0.03em;
  margin: 0 auto;
  max-width: 502px;
}

/* Companies styles */

.companies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.companies__item {
  margin: 16px 24px;
}

/* About styles */

.about {
  background-color: #F5F8FF;
  padding: 170px 0;
}

.about__container {
  display: flex;
  justify-content: space-between;
}

.about__info {
  padding-top: 80px;
  width: 50%;
  max-width: 413px;
}

.about__img {
  max-width: 653px;
}

.about__text {
  margin-bottom: 47px;
}

.about__buttons {
  display: flex;
}

.about__buttons-video {
  background-color: #4C85FF;
  color: var(--white);
  text-decoration: none;
}

.about__buttons-video--second {
  background-color: var(--white);
  color: #565F82;
  font-weight: 600;
}

.about__buttons-video:hover {
  background-color: #2d6efc;
  color: var(--white);
}

.about__buttons-video--second:hover {
  background-color: #e3f0ff;
  color: #565F82;
}

.about__buttons-icon {
  margin-left: 6px;
  display: inline;
}

.about__buttons-features {
  background: none;
  border: 1px solid #D1D1E4;
  color: #ADB4D2;
  text-decoration: none;
}

.about__buttons-features--second {
  color: #C7D3FF;
  border: 1px solid #A0B4FF;
}

.about__buttons-features:hover {
  background: #f0f0f8;
  border: 1px solid #9595e0;
  color: #9595e0;
}

/* Numbers styles */

.numbers__container {
  display: flex;
}

.numbers__start, .numbers__end {
  flex-basis: 50%;
  padding-top: 66px;
  padding-bottom: 66px;
  color: var(--white);
}

.numbers__start {
  background: linear-gradient(#6888FF, #5E80FF);
  padding-right: 90px;
  text-align: right;
}

.numbers__end {
  background: linear-gradient(#E9EFFF, #E0E9FF);
  padding-left: 90px;
  color: #5E80FF;
}

.numbers__icon {
  margin-bottom: 24px;
  display: inline-block;
}

.numbers__count {
  display: block;
  font-size: 48px;
  font-weight: 400;
  line-height: 83px;
  letter-spacing: 0.03em;
  margin-bottom: 24px;
}

.numbers__text {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.03em;
  max-width: 260px;
  display: inline-block;
}

/* Info styles */

.info {
  background-image: url('/images/info/clouds.png');
  background-repeat: no-repeat;
  background-position: 160px 88px;
  padding: 170px 0;
}

.heading {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  color: var(--san-marino);
  margin-bottom: 92px;
}

.heading--start {
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 27px;
  text-align: left;
}

.info__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 92px;
}

.info__item {
  width: 22%;
  text-align: center;
  position: relative;
}

.info__item:not(:first-child)::after {
  content: '';
  position: absolute;
  left: -35px;
  top: 131px;
  width: 28px;
  height: 1px;
  background-color: var(--blue);
  display: block;
}

.info__icon {
  width: 69px;
  height: 69px;
  margin-bottom: 30px;
  display: inline-block;
}

.info__item-name {
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #4074F8;
  padding-bottom: 25px;
}

.info__text {
  font-size: 14px;
  line-height: 24px;
  color: #ADB3CB;
  max-width: 180px;
  margin: auto;
}

.info__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__buttons-text {
  display: inline;
  position: relative;
  font-size: 12px;
  color: #ADB3CB;
  text-transform: uppercase;
  margin-right: 48px;
  margin-left: 48px;
}

.info__buttons-text::after, .info__buttons-text::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: #DAE4FE;
  display: block;
}

.info__buttons-text::after {
  left: 34px;
  top: 8px;
}

.info__buttons-text::before {
  left: -30px;
  top: 8px;
}

/* Resources styles */

.resources {
  padding: 105px 0;
  background-color: #F5F8FF;
}

.resources__galery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.resources__galery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 0;
}

.resources__galery-icon {
  stroke: #A8B4E5;
}

.resources__galery-button:hover .resources__galery-icon {
  stroke: #174eda;
}

.resources__info {
  background-color: var(--white);
  display: flex;
  max-width: 958px;
  padding: 63px 35px;
  margin: 0 30px;
}

.resources__start {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 407px;
  width: 50%;
  max-height: 267px;
  margin-right: 60px;
}

.resources__start img:nth-of-type(1) {
  margin-right: 12px;
}

.resources__start img:nth-of-type(2) {
  margin-bottom: 14px;
}

.resources__end {
  width: 50%;
}

.resources__info-title {
  font-size: 36px;
  font-weight: 500;
  color: var(--san-marino);
  margin-bottom: 28px;
}

.resources__text {
  margin-bottom: 31px;
}

.recources__button {
  margin-right: 18px;
}

/* Pagination styles */

.pagination {
  display: flex;
  justify-content: center;
}

.pagination__item {
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  background-color: transparent;
  position: relative;
}

.pagination__item:not(:last-of-type) {
  margin-right: 8px;
}

.pagination__item::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #D1D6E3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pagination__item--active::after {
  background-color: #5283FF;
}

.pagination__item:hover::after {
  background-color: #bcbcc4;
}

.pagination__item--active:hover::after {
  background-color: #174eda;
}

/* Quotes styles */

.quotes {
  padding: 146px 0;
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
  position: relative;
  overflow-x: hidden;
}

.quotes__start {
  margin-left: 110px;
  margin-right: 132px;
  max-width: 333px;
}

.quotes__text {
  color: #A4ABC8;
}

.quotes__end {
  position: absolute;
  top: 24%;
  right: -22%;
}

.quotes__cards {
  display: flex;
  margin-bottom: 78px;
}

.quotes__card {
  max-width: 423px;
  padding: 41px 69px;
  position: relative;
  box-shadow: 0px 5px 50px #F3F5FA;
  margin-right: 64px;
  background-color: #dfe5f6;
  opacity: 0.45;
  color: #c9c9c9;
}

.quotes__card--active {
  background-color: var(--white);
  opacity: 1;
}

.quotes__card::after {
  content: '';
  width: 62px;
  height: 63px;
  border-radius: 50%;
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('/images/quotes/1.jpg');
}

.quotes__card-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #676F95;
}

.quotes__pagination {
  justify-content: start;
  margin-left: 12%;
}

/* Help stules */

.help {
  padding: 176px 0;
}

.container__help {
  max-width: 750px;
}

.accordion__trigger {
  max-width: 743px;
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #D8E3FE;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: #8E96B7;
  font-size: 15px;
  padding: 15px 0;
}

.accordion__icon {
  stroke: #8E96B7;
}

.accordion__trigger[aria-expanded="true"] {
  color: #495274;
  font-weight: 700;
}

.accordion__trigger[aria-expanded="true"] .accordion__icon {
  stroke: #495274;
  transform: rotate(180deg);
}

.accordion__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 62px 53px 48px;
}

.accordion__content[hidden] {
  display: none;
}

.accordion__icon {
  margin-right: 24px;
}

.accordion__text {
  font-weight: 400;
  font-size: 14px;
  color: #8E96B7;
  max-width: 391px;
}

.accordion__content-button {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: #7382A3;
  background-color: #E8ECF4;
  font-size: 13px;
  max-width: 165px;
  padding: 13px 14px;
}

/* Pricing styles */

.pricing {
  text-align: center;
  background-color: #5E80FF;
  background-image: url('/images/pricing/clouds.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 92px 0;
  color: var(--white);
}

.pricing__container {
  max-width: 710px;
}

.pricing__title {
  color: var(--white);
}

.pricing__heading {
  font-size: 48px;
  font-weight: 400;
  color: var(--white);
  margin-bottom: 32px;
  text-align: center;
}

.pricing__text {
  font-size: 15px;
  margin-bottom: 60px;
}

.pricing__buttons {
  display: flex;
  justify-content: center;
}

.pricing__buttons-view {
  background-color: var(--white);
  color: var(--bright-blue);
  font-weight: 600;
  text-decoration: none;
}

.pricing__buttons-view:hover {
  background-color: #e3f0ff;
}

.pricing__buttons-read {
  background: none;
  color: #C7D3FF;
  border: 1px solid #A0B4FF;
  text-decoration: none;
}

.pricing__buttons-read:hover {
  background: #fefefe;
  border: 1px solid #9595e0;
  color: #9595e0;
}

/* Sign-up styles */

.sign-up {
  padding: 118px 0;
  background-color: #FCFDFF;
}

.sign-up__container {
  display: flex;
  max-width: 898px;
}

.sign-up__start {
  margin-right: 80px;
  width: 100%;
}

.sign-up__heading {
  font-size: 18px;
  line-height: 23px;
  color: var(--san-marino);
  margin-bottom: 18px;
}

.sign-up__form {
  display: flex;
  align-items: center;
  max-width: 489px;
  width: 100%;
}

.sign-up__input {
  max-height: 59px;
  max-width: 279px;
  width: 100%;
  height: 100%;
  margin-right: 14px;
  padding-left: 23px;
  border-radius: 5px;
  border: none;
  background-color: #EFEFF7;
  color: var(--san-marino);
  font-size: 13px;
}

.sign-up__input:focus {
  outline-color: var(--bright-blue);
}

.sign-up__input::placeholder {
  color: #7A85AD;
  font-weight: 700;
}

.sign-up__button {
  max-height: 59px;
  max-width: 181px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #4D6CE1;
  color: var(--white);
  font-size: 13px;
}

.sign-up__button:hover {
  background-color: #284ac5;
}

/* Footer styles */

.footer {
  background-color: var(--white);
  padding: 100px 0;
  border-top: 1px solid #D8E3FE;
}

.footer__container {
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__start, .footer__end {
  display: flex;
  align-items: center;
}

.footer__start {
  margin-right: 16px;
}

.footer__socials {
  margin-right: 44px;
}

.footer__copyright {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #AEB8D0;
  margin-left: 254px;
}