/* font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Box sizing rules */

*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default padding */

ul, ol {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Remove default margin */

body, h1, h2, h3, h4, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img:not([alt]) {
  outline: 2px solid red;
}

/* Inherit fonts for inputs and buttons */

input, button, textarea, select {
  font: inherit;
}

input, select, textarea {
  width: 100%;
  max-width: 100%;
  color: inherit;
}

input[type="checkbox"], input[type="radio"] {
  width: auto;
}

fieldset, legend {
  margin: 0;
  border: 0;
  padding: 0;
}

/* Remove all animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
}

@media print {
  a[href^="http://"]::after, a[href^="https://"]::after {
    content: " (" attr(href) ")";
  }
}

.container {
  max-width: 1206px;
  margin: 0 auto;
  width: 96%;
}

/* Header styles */

.header {
  padding: 18px 0;
  background-color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__start, .header__end {
  display: flex;
  align-items: center;
}

.header__start {
  margin-right: 16px;
}

.header__logo {
  width: 26px;
  height: 26px;
  background-color: #5E81FE;
  border-radius: 50%;
  margin-right: 73px;
}

.header__socials {
  margin-right: 44px;
}

/* Navigation styles */

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 42px;
}

.nav__link {
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  color: #697CA6;
}

.nav__link:hover, .nav__link:active {
  color: #5E81FE;
}

.nav__link:focus {
  outline-color: #3A79FF;
}

/* Socials styles */

.socials {
  display: flex;
}

.socials__item:not(:last-child) {
  margin-right: 36px;
}

.socials__link:focus {
  outline-color: #3A79FF;
}

.socials__icon {
  fill: #B6BAC7;
}

.socials__link:hover .socials__icon {
  fill: #6188FF;
}

/* Button styles */

.button {
  background-color: #D2E1FF;
  max-width: 200px;
  min-width: 90px;
  border-radius: 2px;
  border: none;
  padding: 13px 15px;
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: #3A79FF;
}

.button:hover {
  background-color: #BFD4FF;
}

.button:active {
  background-color: #BFD4FF;
  border-color: #3A79FF;
}

.button:focus {
  outline-color: #3A79FF;
}

/* Hero styles */

.hero {
  background-image: url(/images/hero/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  min-height: 570px;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero {
    background-image: url(/images/hero/hero@2x.jpg);
  }
}

.hero__title {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  font-family: 'Roboto', sans-serif;
  color: #3D4F9F;
  text-transform: uppercase;
}

.hero__heading {
  font-size: 48px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: #3D4F9F;
  margin-bottom: 28px;
}

.hero__text {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.03em;
  margin: 0 auto;
  max-width: 502px;
  color: #8D96BD;
}

/* Customers styles */

.customers {
  padding: 40px 0;
}

/* Companies styles */

.companies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.companies__item {
  margin: 16px 24px;
}

.customers__link {
  display: block;
}

.companies__icon {
  fill: #D6DAE5;
}

.customers__link:hover .companies__icon {
  fill: #6188FF;
}

/* About styles */

.about {
  background-color: #F5F8FF;
}

.about__container {
  display: flex;
  padding: 170px 0;
  justify-content: space-between;
}

.about__info {
  padding-top: 80px;
  width: 50%;
  max-width: 413px;
}

.about__img {
  max-width: 653px;
}

.about__title {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
}

.about__heading {
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  color: #3D4F9F;
  margin-bottom: 27px;
  margin-top: 14px;
}

.fw-500 {
  font-weight: 600;
}

.about__text {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: #8D96BD;
  margin-bottom: 47px;
}

.about__buttons {
  display: flex;
}

.about__video {
  background-color: #4C85FF;
  color: #fff;
}

.about__video:hover {
  background-color: #2d6efc;
  color: #fff;
}

.about__video-link {
  text-decoration: none;
}

.about__icon {
  margin-left: 6px;
}

.about__features {
  background: none;
  border: 1px solid #D1D1E4;
  color: #ADB4D2;
}

.about__features:hover {
  background: #f0f0f8;
  border: 1px solid #9595e0;
  color: #9595e0;
}

.about__features-link {
  text-decoration: none;
}