/* font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Box sizing rules */

*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default padding */

ul, ol {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Remove default margin */

body, h1, h2, h3, h4, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img:not([alt]) {
  outline: 2px solid red;
}

/* Inherit fonts for inputs and buttons */

input, button, textarea, select {
  font: inherit;
}

input, select, textarea {
  width: 100%;
  max-width: 100%;
  color: inherit;
}

input[type="checkbox"], input[type="radio"] {
  width: auto;
}

fieldset, legend {
  margin: 0;
  border: 0;
  padding: 0;
}

/* Remove all animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
}

@media print {
  a[href^="http://"]::after, a[href^="https://"]::after {
    content: " (" attr(href) ")";
  }
}

.container {
  max-width: 1206px;
  margin: 0 auto;
  width: 96%;
}

/* Header styles */

.header {
  padding: 18px 0;
  background-color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__start, .header__end {
  display: flex;
  align-items: center;
}

.header__start {
  margin-right: 16px;
}

.header__logo {
  width: 26px;
  height: 26px;
  background-color: #5E81FE;
  border-radius: 50%;
  margin-right: 73px;
}

.header__socials {
  margin-right: 44px;
}

/* Navigation styles */

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 42px;
}

.nav__link {
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  color: #697CA6;
}

.nav__link:hover, .nav__link:active {
  color: #5E81FE;
}

.nav__link:focus {
  outline-color: #3A79FF;
}

/* Socials styles */

.socials {
  display: flex;
}

.socials__item:not(:last-child) {
  margin-right: 36px;
}

.socials__link:focus {
  outline-color: #3A79FF;
}

.socials__icon {
  fill: #B6BAC7;
}

.socials__link:hover .socials__icon {
  fill: #6188FF;
}

/* Button styles */

.button {
  background-color: #D2E1FF;
  max-width: 200px;
  min-width: 90px;
  border-radius: 2px;
  border: none;
  padding: 13px 15px;
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: #3A79FF;
}

.button:hover {
  background-color: #BFD4FF;
}

.button:active {
  background-color: #BFD4FF;
  border-color: #3A79FF;
}

.button:focus {
  outline-color: #3A79FF;
}

.button--secondary {
  background-color: #FFD7D7;
  color: #D43F3F;
}

.button--secondary:hover {
  background-color: #fac1c1;
}

.button--text {
  background-color: transparent;
  border: none;
  color: #A6B6DA;
}

.button--text:hover {
  background-color: #edf4fc;
}

/* Hero styles */

.hero {
  background-image: url(/images/hero/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  min-height: 570px;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero {
    background-image: url(/images/hero/hero@2x.jpg);
  }
}

.title {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  font-family: 'Roboto', sans-serif;
  color: #3D4F9F;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.title--start {
  text-align: left;
}

.hero__heading {
  font-size: 48px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: #3D4F9F;
  margin-bottom: 28px;
}

.hero__text {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.03em;
  margin: 0 auto;
  max-width: 502px;
  color: #8D96BD;
}

/* Customers styles */

.customers {
  padding: 40px 0;
}

/* Companies styles */

.companies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.companies__item {
  margin: 16px 24px;
}

.customers__link {
  display: block;
}

.companies__icon {
  fill: #D6DAE5;
}

.customers__link:hover .companies__icon {
  fill: #6188FF;
}

/* About styles */

.about {
  background-color: #F5F8FF;
  padding: 170px 0;
}

.about__container {
  display: flex;
  justify-content: space-between;
}

.about__info {
  padding-top: 80px;
  width: 50%;
  max-width: 413px;
}

.about__img {
  max-width: 653px;
}

.fw-600 {
  font-weight: 600;
}

.about__text {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: #8D96BD;
  margin-bottom: 47px;
}

.about__buttons {
  display: flex;
}

.about__video {
  background-color: #4C85FF;
  color: #fff;
  text-decoration: none;
}

.about__video:hover {
  background-color: #2d6efc;
  color: #fff;
}

.about__icon {
  margin-left: 6px;
  display: inline;
}

.about__features {
  background: none;
  border: 1px solid #D1D1E4;
  color: #ADB4D2;
  text-decoration: none;
}

.about__features:hover {
  background: #f0f0f8;
  border: 1px solid #9595e0;
  color: #9595e0;
}

.about__features-link {
  text-decoration: none;
}

/* Numbers styles */

.numbers__container {
  display: flex;
}

.numbers__start {
  background: linear-gradient(#6888FF, #5E80FF);
  flex-basis: 50%;
  padding-top: 66px;
  padding-bottom: 66px;
  text-align: right;
  padding-right: 90px;
  color: #fff;
}

.numbers__text--start {
  margin-left: auto;
}

.numbers__end {
  background: linear-gradient(#E9EFFF, #E0E9FF);
  flex-basis: 50%;
  padding-top: 66px;
  padding-bottom: 66px;
  padding-left: 90px;
  color: #5E80FF;
}

.numbers__icon {
  margin-bottom: 24px;
}

.numbers__count {
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 83px;
  letter-spacing: 0.03em;
  margin-bottom: 24px;
}

.numbers__text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.03em;
  max-width: 260px;
}

/* Info styles */

.info {
  background-image: url('/images/info/clouds.png');
  background-repeat: no-repeat;
  background-position: 160px 88px;
}

.info__container {
  padding-top: 170px;
}

.h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: #3D4F9F;
  margin-bottom: 92px;
}

.h2--start {
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 27px;
  text-align: left;
}

.info__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 92px;
}

.info__item {
  width: 22%;
  text-align: center;
  position: relative;
}

.info__item:not(:first-child)::after {
  content: '';
  position: absolute;
  left: -35px;
  top: 131px;
  width: 28px;
  height: 1px;
  background-color: #5E81FE;
  display: block;
}

.info__icon {
  width: 69px;
  height: 69px;
  margin-bottom: 30px;
  display: inline-block;
}

.info__item-name {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: #4074F8;
  padding-bottom: 25px;
  position: relative;
}

.info__text {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #ADB3CB;
  max-width: 180px;
  margin: auto;
}

.info__buttons {
  text-align: center;
  padding-bottom: 170px;
}

.info__buttons-text {
  display: inline;
  position: relative;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  color: #ADB3CB;
  text-transform: uppercase;
  margin-right: 48px;
  margin-left: 48px;
}

.info__buttons-text::after {
  content: '';
  position: absolute;
  left: 34px;
  top: 8px;
  width: 15px;
  height: 1px;
  background-color: #DAE4FE;
  display: block;
}

.info__buttons-text::before {
  content: '';
  position: absolute;
  left: -30px;
  top: 8px;
  width: 15px;
  height: 1px;
  background-color: #DAE4FE;
  display: block;
}

/* Resources styles */

.resources {
  padding: 105px 0;
  background-color: #F5F8FF;
}

.resources__h2 {
  margin-bottom: 90px;
}

.resources__galery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.resources__galery-button {
  background-color: transparent;
  border: none;
}

.resources__info {
  background-color: #fff;
  display: flex;
  max-width: 958px;
  padding: 63px 35px;
  margin: 0 30px;
}

.resources__start {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 407px;
  width: 50%;
  max-height: 267px;
  margin-right: 60px;
}

.resources__start img:nth-of-type(1) {
  margin-right: 12px;
}

.resources__start img:nth-of-type(2) {
  margin-bottom: 14px;
}

.resources__end {
  width: 50%;
}

.resources__info-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: #3D4F9F;
  margin-bottom: 28px;
}

.resources__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #8D96BD;
  margin-bottom: 31px;
}

.recources__button {
  margin-right: 18px;
}

/* Pagination styles */

.pagination {
  display: flex;
  justify-content: center;
}

.pagination__item {
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  background-color: transparent;
  position: relative;
}

.pagination__item:not(:last-of-type) {
  margin-right: 8px;
}

.pagination__item::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #D1D6E3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pagination__item--active::after {
  background-color: #5283FF;
}

.pagination__item:hover::after {
  background-color: #bcbcc4;
}

.pagination__item--active:hover::after {
  background-color: #174eda;
}

/* Quotes styles */

.quotes {
  padding: 146px 0;
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
  position: relative;
  overflow-x: hidden;
}

.quotes__container {
  display: flex;
}

.quotes__start {
  margin-left: 110px;
  margin-right: 132px;
  max-width: 333px;
}

.quotes__text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: #A4ABC8;
}

.quotes__end {
  position: absolute;
  top: 24%;
  right: -22%;
}

.quotes__cards {
  display: flex;
  margin-bottom: 78px;
}

.quotes__card {
  max-width: 423px;
  padding: 41px 69px;
  position: relative;
  box-shadow: 0px 5px 50px #F3F5FA;
  margin-right: 64px;
  background-color: #dfe5f6;
  opacity: 0.45;
  color: #a8b0d1;
}

.quotes__card--active {
  background-color: #fff;
  opacity: 1;
}

.quotes__card::after {
  content: '';
  width: 62px;
  height: 63px;
  border-radius: 50%;
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('/images/quotes/1.jpg');
}

.quotes__card-text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #676F95;
}

.quotes__pagination {
  justify-content: start;
  margin-left: 12%;
}